#carouselExample {
    max-width: 1300px;
    max-height: 300px;
    margin-top: 3px;
    background-color: #f8f9fa; /* Set a background color */
    /* border-radius: 10px;  */
    overflow: hidden; /* Hide overflowing content */
    border-end-start-radius: 80px;
    border-end-end-radius: 80px;
}

.carousel-inner {
    /* border-radius: 10px;  */
}
.row{
    margin: 20px;
    margin-left: 30px;
}
.card-btn {
    background-color: green ;
    border-radius: 20px;
    color: white !important;
    margin-left: 80px;
  }
.card{
    border-radius: 20px;
    box-shadow: 0 0 2px;
}
.card-img-top{
    border-start-start-radius: 20px;
    border-start-end-radius: 20px;
   
}

